html, body {
    font-family: Roboto, Arial, sans-serif;
    padding: 0;
    margin: 0;
    outline: none;
    min-height: 100%;
    background: rgb(96,96,99);
    background: linear-gradient(0deg, rgba(96,96,99,1) 0%, rgba(165,165,165,1) 68%, rgba(233,233,233,1) 100%);
}

.header {
    position: relative;
    height: 210px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #666;
}

.header h1 {
    position: absolute;
    margin: 0;
    font-size: 36px;
    color: #fff;
    z-index: 2;
}

.formbox {
    height: inherit;
    padding-left: 250px;
    padding-right: 250px;
    padding-top: 50px;
    padding-bottom: 50px;
}

form {
    width: 100%;
    padding: 20px;
    border-radius: 6px;
    background: #fff;
    box-shadow: 0 0 20px 0 #333;
}

.header::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
}

[type=text], [type=number], [type=email], [type=tel], [type=date] {
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: calc(100% - 10px);
    padding: 5px;
}

.item [type=text]:hover {
    border: 1px solid transparent;
    box-shadow: 0 0 6px 0 #333;
    color: #333;
}
.item {
    position: relative;
    margin: 10px 0;
}

.btn-block {
    margin-top: 10px;
    text-align: center;
}

#option {
    padding-bottom: 5px;
}

button {
    width: 150px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: #444;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background: #666;
}

@media (min-width: 568px) {
    .name-item {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .name-item input {
        width: calc(50% - 20px);
    }
}

.formBtn {
    display: flex;
    justify-content: center;
}

.button {
  margin-top: 10px;
  text-align: center;
  align-items: center;
  width: 150px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background: #444;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
}

.button:hover {
  background: #666;
}